@{
    ViewData["Title"] = "Confirmado";
}

<div class="alert alert-success" role="alert">
  Item registrado com sucesso!
</div>
<p><a asp-action="Index">Registrar novo item</a></p>
<p><a asp-action="Listar">Listar Itens registrados</a></p>
