@model List<ItemPedido>;

@{
    ViewData["Title"] = "Listar";
}

<h5>Itens registrados no pedido:</h5>
<br>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Descrição</th>
            <th scope="col">Valor</th>
            <th scope="col">Quantidade</th>
        </tr>
    </thead>
    <tbody>
        
        @foreach (ItemPedido p in Model)
        {
            <tr>
                <td>@p.descricao</td>
                <td>@p.valor_unitario</td>
                <td>@p.quantidade</td>
            </tr>
        }
    </tbody>
</table>

<p><strong>Valor totalizado:</strong>  @string.Format("{0:C}", Dados.PedidoAtual.Totalizar())  </p>
<br>
<p><a asp-action="Index" class="btn btn-primary">Registrar novo Item</a></p>
